# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!ThirdParty/Bin/Debug/*.dll
!ThirdParty/Bin/Release/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio files
*.suo
*.db
*.filters
*.user
*.log
*.idb
*.pdb
*.tlog

*x64/*
.vs/*

# My regules